@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 281 100% 11%;
    --foreground: 274 50% 90%;
    --card: 281 100% 15%;
    --card-foreground: 274 50% 90%;
    --popover: 281 100% 15%;
    --popover-foreground: 274 50% 90%;
    --primary: 56 100% 61%;
    --primary-foreground: 281 100% 11%;
    --secondary: 274 70% 31%;
    --secondary-foreground: 56 100% 61%;
    --muted: 274 70% 21%;
    --muted-foreground: 274 50% 70%;
    --accent: 274 70% 21%;
    --accent-foreground: 56 100% 61%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 274 70% 21%;
    --input: 274 70% 16%;
    --ring: 56 100% 71%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 281 100% 11%;
    --foreground: 274 50% 90%;
    --card: 281 100% 15%;
    --card-foreground: 274 50% 90%;
    --popover: 281 100% 15%;
    --popover-foreground: 274 50% 90%;
    --primary: 56 100% 61%;
    --primary-foreground: 281 100% 11%;
    --secondary: 274 70% 31%;
    --secondary-foreground: 56 100% 61%;
    --muted: 274 70% 21%;
    --muted-foreground: 274 50% 70%;
    --accent: 274 70% 21%;
    --accent-foreground: 56 100% 61%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 274 70% 21%;
    --input: 274 70% 16%;
    --ring: 56 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
